.site-header {
  $nav-item-height: 30px;
  $border-width: 5px;
  $heading-height: 150px;

  color: black;
  border-bottom: solid $main-color $border-width;
  height: $heading-height;

  .site-branding {
    width: 66%;
    height: 100%;
    float: left;
  }

  .main-navigation {
    width: 34%;
    height: 100%;
    float: left;
    clear: none;
    border-left: solid $main-color $border-width;
  }

  .menu-main-container {
    height: 100%;
  }

  #primary-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    height: 100%;
    padding-left: 10px;
    font-family: $font__main;
    font-size: 20px;
  }

  a {
    display: block;
    color: black;
    height: 100%;
    position: relative;

    img {
      position: absolute;
      bottom: 0px;
      left: 0px;
    }
  }

}
